* {
  margin: 0;
  padding: 0;
  transition: 0.5s;
}
a {
  text-decoration: none;
  color: grey;
  /* padding: 0 15px; */
}
.active {
  color: #dd6d60;
  background-color: #fcf6f5;

  border-radius: 25px;
}
ul,
li {
  list-style: none;
}
.iconfont {
  font-family: "icomoon";
}
.mvs-container {
  margin-top: 70px;
}
.wrap {
  font-size: 14px;
  overflow: hidden;
}
.wrap > div {
  text-align: left;
}
.wrap > div span {
  line-height: 50px;
  /* float: left; */
  margin-right: 20px;
}
.wrap .tabs {
  display: inline-block;
  /* float: left; */
}
.wrap .tabs li {
  text-align: center;
  width: 80px;
  height: 25px;

  padding: 0 10px;
  border-right: 1px solid #f2f2f1;
  float: left;
  margin: 0 auto;
}
.wrap .tabs li .title {
  display: block;
  width: 70px;
  line-height: 25px;
}
.wrap .tabs li:last-child {
  border: none;
}

/* mv列表区 */
.mvs-container .mvs {
  padding: 0;
  overflow: hidden;
}
.mvs-container .mvs .item {
  padding: 0;
  margin: 0 25px 20px 0;
}
.mvs-container .mvs .item .img-wrap {
  width: 250px;
  position: relative;
}
.mvs .item .img-wrap img {
  width: 250px;
}
.mvs .item .img-wrap .num-wrap {
  position: absolute;
  top: 0;
  right: 10px;
  color: #fff;
}
.mvs .item .info-wrap .name {
  font-size: 15px;
}
/* 分页 */
.el-pagination.is-background {
  text-align: center;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #dd6d60;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #dd6d60;
}
